@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&family=Ysabeau+SC:wght@300&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

/* Common */
.btnPrimary {
    border: 1px solid #FC6744;
    padding: 10px 20px;
    color: #FC6744;
    border-radius: 60px;
    transition: all .5s ease;
    background-color: transparent;
    font-size: 18px;
}

.btnPrimary:hover {
    background-color: #FC6744;
    color: white;
}
.container{
    padding: 0 30px;
}
/* Header */
header{
    z-index: 500;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 2px 2px 20px lightgrey;
}
#brandName {
    font-family: 'Ysabeau SC', sans-serif;
    color: #42D0E8;
}

.subBrand {
    color: #FC6744;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    transition: .5s ease;
}

.nav-link:hover {
    color: #42D0E8;
}

a:is(:link, :active, :visited).linkActive {
    color: #FC6744;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #42D0E8;
    border-radius: 10px;
}
/* Header end */

/* Hero Section */
#hero-section{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-image: url(./assets/banner1.jpg), linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    height: 80vh;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
}
.hero-content{
    padding: 0 150px 0 50px;
}
.hero-title{
    font-size: 50px;
    color: #42D0E8;
}
.hero-subtitle{
    margin: 30px 0;
font-size: 24px;
color: white;
}
/* Hero Section end*/


/*Hero Info section  */
#hero-info{
    margin-top: 80px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;

    gap: 0;
align-items: center;
justify-content: center;
background-color: #42cfe86b;
}
.info-container{
    width: 100%;
}
.info-employers , .info-jobseekers{
    position: relative;
    width: 100%;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: space-between;

}
.info-img{
    width: 610px;
    height: 500px;
}
.info-details{
padding: 0 50px;
}
.info-title{
    text-transform: uppercase;
font-size: 30px;
font-weight: 500;
letter-spacing: 4px;
}
.info-subtitle{
font-size: 18px;
font-weight: 600;
margin: 10px 0;
color: grey;
}
.info-description{
    margin: 20px 0;
    line-height: 30px;
}
/*Hero Info section end */







@media(max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    /* Navbar */
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        background: #FC6744;
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        background: #FC6744;
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links{
position: fixed;
padding: 20px 0;
left: 0;
top: -100%;
flex-direction: column;
gap: 30px;
background-color: #42cfe8d8;
width: 100%;
text-align: center;
transition: .4s;
    }
    .nav-links.active{
        top: 70px;
    }
    /* Navbar end*/

    /* Hero section */

    .hero-content{
        padding: 0 10px 0 10px;
    }
    .hero-title{
        font-size: 30px;
    }
    .hero-subtitle{
        margin: 30px 0;
    font-size: 18px;
    }
    #hero-section{

        height: 50vh;

    }
    /* Hero section End */
    /* Hero info */
    .info-employers , .info-jobseekers{
        flex-direction: column-reverse;
    }
    .info-employers{
        padding-bottom: 25px;
    }
    .info-jobseekers{
        border-top: 2px solid #FC6744;
        position: relative;
        padding-top: 25px;
    }
    .info-img{
        width: 100%;
        height: 250px;
    }
    .info-details{
    padding: 10px 20px;
    }
    /* Hero info end*/
   
}